<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html>
 <head th:include="fragments/header.html :: header"></head>
 
   <body>
	<div id="frame"></div>
      		
      <div id="content">
                              		
      <div id="title">
      SmrtHm <!-- title -->
                                                                           		
      <ul>
      <li><a class="current" href="/home">Home</a></li>
      <li><a href="/led">Lights</a></li>
      <li><a href="/fan">Fans</a></li>
      <li><a href="/lcd">Lcds</a></li>
	  </ul>
	  </div>  
	  <div id="index">
      <h4>CS505 Project</h4>
      The purpose of this project is to 

      <hr>

      Bla bla
      </div>
      </div>
   </body>
</html>