<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html>
<body>
<!-- Active Leds -->
    <div th:fragment= "deviceList" id="devices">
        <h3>Currently Active Leds</h3>
        <table class="table table-striped">
          <tr>
            <th>Led Name</th>
            <th>PortNumber</th>
            <th>Remove</th>
            <th>Off/On</th>
            <th>Brightness Slider</th>
          </tr>
        <tr th:each="led : ${leds}">
          <td th:text="${led.name}"></td>
          <td th:text="${led.portNumber}"></td>
          <td><button type="button" class="remove">Remove</button></td>
          <td><label class="switch">
            <input type="checkbox" class="toggle">
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <input type="range" class="adjust" name="brightness"
                   min="0" max="1023">
           <label for="Brightness">Brightness</label>
        </td>
          </tr>
        </table>
    <script>
    //TODO - write script to blink leds
     //script to adjust brightness
      $(document).on('change', '.adjust', function() {
        var itemList = [];
        $(this).closest('tr').find('td').each(function(){
          itemList.push($(this).text());
        });
        var deviceName = itemList[0];
        var brightness = $(this).val();
        $.ajax({
        type: "GET",
        url: "http://localhost:8080/led/adjustBrightness/" + deviceName + "/" + brightness,
        success: function(data){
          console.log(JSON.stringify(data));
        },
        error: function(data){
          console.log(JSON.stringify(data));
        }
      });
  });
     //script to turn led on or off
      $(".toggle").click(function(){
        var itemList = [];
        $(this).closest('tr').find('td').each(function(){
          itemList.push($(this).text());
        });
        var deviceName = itemList[0];

        if($(this).prop("checked") == true){
          $.ajax({
            type: "GET",
            url: "http://localhost:8080/led/on/" + deviceName,
            success: function(data){
              console.log(JSON.stringify(data));
            },
            error: function(data){
              console.log(JSON.stringify(data));
            }
          });
        }
        else{
          $.ajax({
            type: "GET",
            url: "http://localhost:8080/led/off/" + deviceName,
            success: function(data){
              console.log(JSON.stringify(data));
            },
            error: function(data){
              console.log(JSON.stringify(data));
            }
          });
        }
      });

    //script to remove led from table
  $(".remove").click(function(){
      var itemList = [];
      /*
        Loop for the <tr> element through each <td>
        Device Name will be element one of the list
      */
      var row = $(this).closest('tr');
      $(this).closest('tr').find('td').each(function(){
        itemList.push($(this).text());
      });
      var deviceName = itemList[0];
      $.ajax({
            type : "DELETE",
            url : "http://localhost:8080/led/remove/" + deviceName,
            success : function(data) {
               console.log("Successfully deleted " + deviceName);
               row.remove();
            },
            async: false,
            error : function(data) {
              console.log("Failed to delete device " + deviceName);
            }
         });
    });
    </script>
 </div>
</body>
</html>
